.jumbotron {
  background-color: #006064 !important;
  color: white; }

body {
  background-color: #ecf0f1 !important; }

nav {
  border-bottom: 3px solid #dbdbdb;
  background-color: #20a0b1 !important; }
  nav ul a {
    color: #ecf0f1 !important; }
    nav ul a:hover {
      font-weight: bold !important; }

.dropdown-menu {
  background-color: #20a0b1; }
  .dropdown-menu a:hover {
    background-color: #006064; }

.dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center; }

h5 {
  color: black; }
  @media (max-width: 700px) {
    h5 {
      color: #006064; } }

#anImportantHeading, .card {
  border: 1px solid #006064; }

#card3 {
  color: #006064;
  font-size: 1.2em; }

h1 {
  padding-top: 10px; }
